/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#nav-wrap {
    background: #111111;
}
    #nav-wrap .top-bar {
        margin-bottom: 0em;
        height: auto;
    }
    
.top-bar .title-area .name h1 a{
    font-style: italic;
}

.top-bar .top-login {
    width: 15em;
}
    .top-bar .top-login .has-form {
        height: 8em;
    }
        .top-bar .top-login .has-form .row {
            padding-top: 0.5em;
        }
    
p.indent {
    text-indent: 2em;
    text-align: justify;
}

footer .copyright {
    text-align: center;
}

.no-border {
    border: none !important;
    background: white;
    padding: 0 1.25em;
}

table td, table th { 
    padding: 9px 10px; 
    text-align: center !important; 
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right-text {
    text-align: right;
}

.DataTables_sort_wrapper {
    display: inline;
}

.css_right {
    float: right;
}

/*------------------------------------------
    index.php
------------------------------------------*/


/* -----------------------------------------
   genomes.php
----------------------------------------- */
table {
        max-width: none !important;
}
    .dataTable tbody tr:hover {
        cursor: pointer;
        font-weight: bold;
    }
        .dataTable tbody tr:hover td {
            background: #2ba6cb !important;
        }
    
    #genomesTable td, #genomesTable th, .proteinSTable td, .proteinSTable th { 
        white-space: nowrap; 
    }

    table td { 
        overflow: hidden;
        word-wrap: break-word;
    }

form.dataTables {
    display: inline-block;
    margin: 0;
}

.dataTables_filter input {
    display: inline-block;
    width: auto;
}

.dataTables_length select {
    width: auto;
}

#genomesTable tbody {
    cursor: pointer;
}

/* -----------------------------------------
   seq.php
----------------------------------------- */
hr.shift-up {
    margin-top: -1em;
    margin-bottom: 0.5em;
}

dl.selected, .results .selected {
    display: block !important;
}

dl {
    display: none !important;
}

.results .info {
    display: none;
}

.info ul.inline-list {
    margin-left:auto; 
    margin-right:auto;
}
    .info .inline-list > li {
        min-width: 10em;
    }

div.title-row div {
    line-height: 1.4;
}
    div.title-row .title {
        text-align: center;
    }
    div.title-row .seqname {
        font-style: italic;
        text-align: right;
    }
    
h5.italic {
    font-style: italic;
}
h4.centered {
    text-align: center;
}

.align-right ul {
    text-align: right;
}

.align-right ul, .align-left ul {
    list-style-type: none;
}

.summary-box {
    height: 4em;
}

.proteinTable tr.strongHit td  {
    background-color: lightseagreen !important;
}
    .proteinTable tr.strongHit td a{
        color: #2C3380 !important;
    }

img.centered {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.sccmec-coverage {
    padding: 0 !important;
}
    .sccmec-coverage .columns{
        padding: 0 !important;
    }
        .sccmecCov .inline-list > li {
            text-align: center;
            min-width: 7em;
        }
        

.predicted-row {
    min-height: 5em;
}

.predicted-phenotype {
    margin-left: 5em;
}       
    .predicted-phenotype > li {
        width: 12em;
    }        

.disclaimer {
    color: blue;
}
    .disclaimer p.small {
        font-size:11px;
    }
    

/* -----------------------------------------
   submit.php
----------------------------------------- */
.arrow {
    font-size: 40px;
}

.nav-row .right {
    text-align: right;
}

.nav-row div, form fieldset {
    display: none;
    border: none;
}

.nav-row .active, form fieldset.selected  {
    display: block !important;
}

form fieldset {
    padding: 0 1.25em;
}
    form fieldset ul {
        list-style-type: none;
    }

.comments textarea {
    height: 10em;
}

i.foundicon-error {
    color: red;
}

i.foundicon-checkmark {
    color: green;
}
